<%= simple_nested_form_for @ad do |f| %>
	<%= f.association :type %>
	<%= f.input  :content %>

  <%= f.fields_for :images, Image.new do |img_form| %>
    <%= img_form.file_field :photo %>
    <%= img_form.link_to_remove 'Remove this photo' %>
    <p> or </p>
    <%= text_field_tag "url_image[]" %>
    <%= Image.count %>
  <% end %>

  <%= f.link_to_add 'Add photo', :images %>


  <%= f.button :submit  %>
<% end %>

<% @ad.images.each do |img| %>
  <p>
    <%= img.photo.original_filename %>
    <%= link_to "delete", ad_image_path(@ad, img), :method => :delete, :confirm => "Y/N?", :title => "Delete?" %> <br />
  </p>
<% end %>
