<% provide(:title, 'Show ADS') %>

<% if params[:controller] == "ads" %>
  <%= form_tag("/ads/search", method: :get) do %>
    <%= label_tag :query %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag :search %>
  <% end %>
<% end %>

<%= will_paginate @ads %>

<% @ads.each do |ads| %>
	<p>
		UserName:
		<%= ads.user.name %> <br />
		ContentAd:
		<%= ads.content   %>
		<%= link_to "edit", edit_ad_path(ads) if can? :edit, ads %> 
		<%= link_to "delete", ad_path(ads), :method => :delete, :confirm => "Y/N?", :title => "Delete?" if can? :destroy, ads  %> <br />
		<%= ads.type.name %> <br />
		<% ads.pictures.each do |pic| %>
  			<%= image_tag(pic.url) %>
  			<% unless pic.photo.blank? %>
  			  <%= image_tag(pic.photo.url) %>
  			  
  			<% end %>
		<% end %>

		Status: <%= ads.state %> <br />
    	<% [:send_to_draft, :send_to_pending, :rejecte, :approve].each do |transfer_method| %>
      		<%= state_link transfer_method, ads %>
   		<% end %>
   		<br />
   		<%= link_to "show", ad_path(ads) %>
	</p>
<% end %>

<%= will_paginate @ads %>
