<h1>Ads#index</h1>
<p>Find me in app/views/ads/index.html.erb</p>

<%= search_form_for @q, url: { :controller => params[:controller], :action => params[:action] } do |f| %>
  <%= f.label :content_cont %>
  <%= f.text_field :content_cont %>
  <%= f.submit %>
<% end %>

<%= will_paginate @ads %>

<% @ads.each do |ads| %>
	<p>
		UserName:
		<%= ads.user.name %> <br />
		ContentAd:
		<%= ads.content   %>
		<%= link_to "edit", edit_ad_path(ads) if can? :edit, ads %> 
		<%= link_to "delete", ad_path(ads), :method => :delete, :confirm => "Y/N?", :title => "Delete?" if can? :destroy, ads  %> <br />
		<%= ads.type.name %> <br />
		<% ads.pictures.each do |pic| %>
  			<%= image_tag(pic.url) %>
		<% end %>

		Status: <%= ads.state %> <br />
    	<% [:send_to_draft, :send_to_pending, :rejecte, :approve].each do |transfer_method| %>
      		<%= state_link transfer_method, ads %>
   		<% end %>
	</p>
<% end %>

<%= will_paginate @ads %>


